.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4rem;
  max-width: 970px;
  padding-bottom: 3rem;
}

/* Media Queries */
@media (max-width: 1000px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
