@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./images/earth.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}
